.App {
  font-family: sans-serif;
  text-align: center;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.card{
  padding:5px
}
.project-list{
  margin-top: 30px;
}